.navbarWrapper {
    position: absolute;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    /* Transparent background */
    transition: background-color 0.3s ease;
    padding: 20px;
    color: #fff;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.8);
    /* Semi-transparent white background */
}

.navbar.sticky {
    background-color: var(--primary-color) !important;
}